@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html,
body {
    font-family: 'Roboto', sans-serif;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-image: url(../images/pic1.jpg);
}

calculator {
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 90%;
    background-color: rgb(221, 221, 221);
    border-radius: 32px;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    transform: translate(20px, 20px);
    font: bolder;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}

show {
    background-color: #fafafa;
    display: block;
    height: 30%;
    width: 100%;
    margin: 0 auto;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}

tble {
    display: block;
    height: 70%;
    width: 100%;
    margin: 0 auto;
}

tbott {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

tbott bottom {
    display: block;
    height: 65px;
    width: 60px;
    background-color: #fafafa;
    margin: 8px 16px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

bottom.equal {
    background-color: rgb(13, 231, 184);
    color: #fafafa;
}

bottom.bk {
    background-color: rgb(231, 208, 1);
    color: #fafafa;
}

inputer {
    display: block;
    width: 80%;
    height: 40%;
    margin: 0 auto;
    border-bottom-style: solid;
    border-width: 2px;
}

result {
    display: block;
    width: 80%;
    height: 60%;
    margin: 0 auto;
}